---

- name: Determine appliance package name
  ansible.builtin.set_fact:
    he_appliance_package: >-
      ovirt-engine-appliance-{{ ansible_distribution | lower }}{{ ansible_distribution_major_version }}
  when: he_appliance_package is not defined

- name: Check appliance package availability
  ansible.builtin.command: dnf list --quiet {{ he_appliance_package }}
  register: appliance_package_check
  failed_when: false
  changed_when: false

- name: Set default appliance package name if not found
  ansible.builtin.set_fact:
    he_appliance_package: "ovirt-engine-appliance-centos{{ ansible_distribution_major_version }}"
  when: appliance_package_check.rc != 0

- name: Install ovirt-engine-appliance rpm
  ansible.builtin.dnf:
    name: "{{ he_appliance_package }}"
    state: present
  when: not he_offline_deployment|bool
  register: task_result
  until: task_result is success
  retries: 10
  delay: 2

- name: Find appliance config file from installed package
  ansible.builtin.shell: rpm -ql {{ he_appliance_package }} | grep '.conf$'
  register: appliance_config_file
  changed_when: false
  failed_when: appliance_config_file.stdout == ""

- name: Set appliance config file path
  ansible.builtin.set_fact:
    he_appliance_config_path: "{{ appliance_config_file.stdout_lines[0] }}"

- name: Parse appliance configuration for path
  ansible.builtin.shell: set -euo pipefail && grep path {{ he_appliance_config_path }} | cut -f2 -d'='
  environment: "{{ he_cmd_lang }}"
  register: he_appliance_out
  changed_when: true

- name: Parse appliance configuration for sha1sum
  ansible.builtin.shell: set -euo pipefail && grep sha1sum {{ he_appliance_config_path }} | cut -f2 -d'='
  environment: "{{ he_cmd_lang }}"
  register: he_appliance_sha1
  changed_when: true

- name: Get OVA path
  ansible.builtin.set_fact:
    he_appliance_path: "{{ he_appliance_out.stdout_lines|first }}"
    cacheable: true

- name: Compute sha1sum
  ansible.builtin.stat:
    path: "{{ he_appliance_path }}"
    checksum_algorithm: sha1
  register: ova_stats

- name: Compare sha1sum
  ansible.builtin.fail:
    msg: "{{ he_appliance_path }} is corrupted (sha1sum)"
  when: he_appliance_sha1.stdout_lines|first != ova_stats.stat.checksum

- when: he_vm_boot_flags is not defined
  block:
    - name: Gather the package facts
      ansible.builtin.package_facts:

    - name: Get appliance version
      ansible.builtin.set_fact:
        appliance_version: "{{ ansible_facts.packages[he_appliance_package][0].version }}"
      when: he_appliance_package in ansible_facts.packages

    - name: Activate UEFI boot for appliances version 4.5.1 and above
      ansible.builtin.set_fact:
        he_vm_boot_flags: "{{ he_vm_efi_boot_flags }}"
      when: appliance_version is defined and appliance_version is version('4.5.1', '>=')
