name: Build
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:
jobs:
  sanity_test:
    runs-on: ubuntu-latest
    name: ansible-test docker
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Build the project
        run: ./build.sh build ovirt /tmp

      - name: Run ansible-test sanity
        run: |
          cd /tmp/ansible_collections/ovirt/ovirt/
          ansible-test sanity --docker

      - name: Run ansible-lint 5.0.0
        run: |
          cd /tmp/ansible_collections/ovirt/ovirt/
          pip3 install install pycodestyle pylint==2.4.4 voluptuous yamllint rstcheck antsibull-changelog "rich<11.0.0" "ansible-lint<5.0.0" cryptography
          ansible-lint roles/* -x 204
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: centos-stream-8
            shortcut: cs8
            container-name: el8stream
          - name: centos-stream-9
            shortcut: cs9
            container-name: el9stream
    name: ${{ matrix.name }}
    container:
      image: quay.io/ovirt/buildcontainer:${{ matrix.container-name }}
    steps:
      - name: Install python3.8 modules
        if: ${{ matrix.shortcut == 'cs8' }}
        run: pip-3.8 install pycodestyle pylint voluptuous yamllint "rstcheck<3.5.0" antsibull-changelog "rich<11.0.0" "ansible-lint>=6.0.0,<7.0.0" cryptography

      - name: Install python3.9 modules
        if: ${{ matrix.shortcut == 'cs9' }}
        run: pip-3 install pycodestyle pylint voluptuous yamllint rstcheck antsibull-changelog rich "ansible-lint>=6.0.0,<7.0.0" cryptography

      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Run build.sh
        run: ./automation/build.sh

      - name: Upload artifacts
        uses: ovirt/upload-rpms-action@v2
        with:
          directory: exported-artifacts
