name: Build
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:
jobs:
  sanity_test:
    runs-on: ubuntu-latest
    name: ansible-test docker
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Build the project
        run: ./build.sh build ovirt /tmp

      - name: Run ansible-test sanity
        run: >
          cd /tmp/ansible_collections/ovirt/ovirt/ &&
          ansible-test sanity --docker

  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: centos-stream-8
            shortcut: cs8
            container-name: el8stream
          - name: centos-stream-9
            shortcut: cs9
            container-name: el9stream
    name: ${{ matrix.name }}
    container:
      image: quay.io/ovirt/buildcontainer:${{ matrix.container-name }}
    steps:
      - name: Install python3.8 modules
        if: ${{ matrix.shortcut == 'cs8' }}
        run: pip-3.8 install pycodestyle pylint==2.4.4 voluptuous yamllint "rstcheck<3.5.0" antsibull-changelog "rich<11.0.0" ansible-lint cryptography

      - name: Install ansible-core 2.13 on el9stream
        # Remove after ansible-core 2.13 is available on el9stream as RPM.
        if: ${{ matrix.shortcut == 'cs9' }}
        run: pip-3 install "ansible>=6.0.0b"

      - name: Install python3.9 modules
        if: ${{ matrix.shortcut == 'cs9' }}
        run: pip-3 install pycodestyle pylint==2.4.4 voluptuous yamllint rstcheck antsibull-changelog "rich<11.0.0" ansible-lint cryptography

      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Run build.sh
        run: ./automation/build.sh

      - name: Upload artifacts
        uses: ovirt/upload-rpms-action@v2
        with:
          directory: exported-artifacts
