name: Build
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:
jobs:
  sanity_test:
    runs-on: ubuntu-latest
    name: ansible-test docker
    steps:
      - name: Checkout
        uses: ovirt/checkout-action@main

      - name: Build the project
        run: ./build.sh build ovirt /tmp

      - name: Run ansible-test sanity
        run: |
          cd /tmp/ansible_collections/ovirt/ovirt/
          ANSIBLE_TEST_PREFER_PODMAN=1 ansible-test sanity --docker

      - name: Run ansible-lint 6.y.z
        run: |
          cd /tmp/ansible_collections/ovirt/ovirt/
          pip3.9 install pycodestyle pylint voluptuous yamllint rstcheck antsibull-changelog rich "ansible-lint>=6.0.0,<7.0.0" cryptography
          ansible-lint roles/* -x 204
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: centos-stream-8
            pip-command: pip3.9
            container-name: el8stream
          - name: centos-stream-9
            pip-command: pip3
            container-name: el9stream
    name: ${{ matrix.name }}
    container:
      image: quay.io/ovirt/buildcontainer:${{ matrix.container-name }}
    steps:
      - name: Install python3.9 modules
        run: ${{ matrix.pip-command }} install pycodestyle pylint voluptuous yamllint rstcheck antsibull-changelog rich "ansible-lint>=6.0.0,<7.0.0" cryptography

      - name: Checkout
        uses: ovirt/checkout-action@main

      - name: Run build.sh
        run: .automation/build.sh

      - name: Upload artifacts
        uses: ovirt/upload-rpms-action@main
        with:
          directory: exported-artifacts
