name: Build
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:
jobs:
  build_8:
    name: Build 8 - ansible 2.9
    runs-on: ubuntu-latest
    container:
      image: quay.io/centos/centos:stream8
    steps:
      - name: Install packages
        run: yum install -y createrepo_c rpm-build yum-utils git epel-release
      - name: Install ansible packages
        run: yum install -y ansible ansible-test python3-pycodestyle python3-pylint python3-voluptuous yamllint glibc-langpack-en
      - name: Update all packages
        run: yum update -y

      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Run build.sh
        run: ./automation/build.sh

      - name: Create DNF repository
        run: createrepo_c exported-artifacts/

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: el8_artifacts
          path: exported-artifacts/

  build_9stream:
    name: Build 9stream - ansible-core 2.12
    runs-on: ubuntu-latest
    container:
      image: quay.io/centos/centos:stream9
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install packages
        run: yum install -y createrepo_c rpm-build yum-utils git ansible-core ansible-test python3-pip
      - name: Update all packages
        run: yum update -y

      - name: Upgrade pip
        run: pip3 install --upgrade pip

      - name: Install pip modules
        run: pip3 install pycodestyle pylint==2.4.4 voluptuous yamllint

      - name: Run build.sh
        run: ./automation/build.sh

      - name: Create DNF repository
        run: createrepo_c exported-artifacts/

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: el9stream_artifacts
          path: exported-artifacts/
